#root {
  max-width: 100vw;
  min-height: 40vw;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

form {
  display: flex;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.homebox-1 {
  border: #000000;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  padding: 1em;
  background-color: rgba(28, 84, 148, 0.349);
  width: 80vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
}

.homebox-2 {
  border: #000000;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  padding: 1.5em;
  background-color: rgba(28, 84, 148, 0.349);
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.search-input-field {
  padding: .5em .5em;
  margin-left: 60px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1.4em;
  margin-right: 1em;
  transition: 0.25s;
}

.search-input-field:hover {
  border-color: #ffffff;
}

.text-1 {
  margin-left: auto;
  margin-right: 25%;
  font-size: 35px;
  font-weight: 100;
}

.search-result-container {
  margin-top: 1em;
  flex: 1;
  max-height: 100%;
  /* background-color: green; */
  overflow-y: auto;
  border-width: 6px;
  border-style: solid;
  border-color: #000000;
}

.search-result-container table th {
  position: sticky;
  top: 0;
  background: #f5f5f5;
  color: black;
  z-index: 1;
}